<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <h1>
        scan for cramfs
    </h1>
    <form method="post">
        <input type="checkbox" id="cramfs" name="cramfs" value="cramfs">
        <label for="cramfs"> filesystem</label><br>

        <input type="checkbox" id="tmp" name="tmp" value="tmp">
        <label for="tmp"> /tmp checks</label><br>
        <input type="checkbox" id="var" name="var" value="var">
        <label for="var"> /var checks</label><br>
        <input type="checkbox" id="varlog" name="varlog" value="varlog">
        <label for="varlog"> /var/log checks</label><br>
        <input type="checkbox" id="vartmp" name="vartmp" value="vartmp">
        <label for="vartmp"> /var/tmp checks</label><br>
        <input type="checkbox" id="varlogaudit" name="varlogaudit" value="varlogaudit">
        <label for="varlogaudit"> /var/log/audit checks</label><br>
        <input type="checkbox" id="home" name="home" value="home">
        <label for="home"> /home checks</label><br>
        <input type="checkbox" id="devshm" name="devshm" value="devshm">
        <label for="devshm"> /dev/shm checks</label><br>

        <button type="submit">submit</button>
    </form>
</body>