<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checklist Template Listing</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='temp.css') }}">
  <script src="{{ url_for('static', filename='helper.js') }}"></script>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="logo.png" alt="Your Logo" class="logo-image">
      </div>
      <h1 class="heading">Checklist Template Listing</h1>
    </header>

    <div class="checklist-type">
      <label class="center-label">Select your Checklist Template Type</label>
      <div class="checkbox-group center-align">
        <div>
          <input type="checkbox" id="initial-setup" name="template-type" value="Initial Setup">
          <label for="initial-setup">Initial Setup</label>
        </div>
        <div>
          <input type="checkbox" id="services" name="template-type" value="Services">
          <label for="services">Services</label>
        </div>
        <div>
          <input type="checkbox" id="network" name="template-type" value="Network">
          <label for="network">Network</label>
        </div>
        <div>
          <input type="checkbox" id="host-based-firewall" name="template-type" value="Host Based Firewall">
          <label for="host-based-firewall">Host Based Firewall</label>
        </div>
        <div>
          <input type="checkbox" id="access-control" name="template-type" value="Access Control">
          <label for="access-control">Access Control</label>
        </div>
        <div>
          <input type="checkbox" id="logging-and-auditing" name="template-type" value="Logging and Auditing">
          <label for="logging-and-auditing">Logging and Auditing</label>
        </div>
        <div>
          <input type="checkbox" id="system-maintenance" name="template-type" value="System Maintenance">
          <label for="system-maintenance">System Maintenance</label>
        </div>
      </div>
    </div>

    <div class="templates-table" id="templates-table">
        <table id="headings-table" >
          <thead>
            <tr>
              <th>Select</th>
              <th>Checklist Item</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
  <input type="button" value="Get Selected" onclick="GetSelected()">
      <!-- Submit button section -->
</div>




    

    <script src="{{ url_for('static',filename='temp.js') }}"></script>
</body>
</html>